


# === EXTENSION CONFIGURATION ===

# You can customize your actions directory location
export TODO_ACTIONS_DIR="../../actions"
export TODO_FILTER_DIR="../../filter"

# === COLORS ===
export COLOR_TRASH=$DARK_GREY

# Do not highlight the add date, it's not that important, always at the same
# place, and the coloring interferes with the relativeDates filter.
export COLOR_DATE_EXT=

# === BEHAVIOR ===
[ "$HIDE_COLOR_DONE"  ] && COLOR_DONE="$NONE"
[ "$HIDE_COLOR_TRASH" ] && COLOR_TRASH="$NONE"

## customize list output

if [ -n "$TODO_TEST_TIME" ]; then
    export TODO_TEST_DATE="$(date -d "@$TODO_TEST_TIME" +%F)"
fi
# First filter out future tasks, based on markers of the form "t:YYYY-MM-DD",
# and color tasks with due and latest dates.
# Then, highlight blocked tasks and the blocker.
# Then, convert near dates to relative ones, e.g. "yesterday".
# Finally, color task numbers, projects and contexts.
export TODOTXT_FINAL_FILTER="${TODO_FILTER_DIR:?}/colorFutureTasks $TODO_TEST_DATE | ${TODO_FILTER_DIR}/colorBlockedTasks $TODO_TEST_DATE | ${TODO_FILTER_DIR}/relativeDates $TODO_TEST_DATE | ${TODO_FILTER_DIR}/colorSymbols"

# Implement scheduled priorization and de-priorization via a custom filter that
# executes before the main filtering, so that it does not interfere with a
# post_filter_command used by various addons, and so that the projected priority
# is considered by actions that do filtering on _list output.
export pre_filter_command="${TODO_FILTER_DIR:?}/markerTrashedFilter | ${TODO_FILTER_DIR}/scheduledFilter $TODO_TEST_DATE"

# Make 'what' addon show only priorities A-F.
export TODOTXT_WHAT_PRIORITIES=A-F

# Duplicated to ~/.todo/config
# Additional addons that handle multiple NR arguments.
export TODOTXT_TASKS_MULTIACTIONS='addagain addprereq bump del depri did do dp dup ls mail nav opportunity pri schedule start stop trash undo until untrash unwait wait'

# The bump counter !:1 is not a reference to another task.
: ${TODOTXT_TASK_MARKER_PATTERN='^[^[:space:][:cntrl:]!]:[0-9]+$'}; export TODOTXT_TASK_MARKER_PATTERN
